#!/bin/bash

ENVIRONMENT={{ENVIRONMENT}}

WORKSPACE_IF_HOST="eth0"
WORKSPACE_IF_DOCKER="docker0"

IPTABLES_CONFIG="FALSE"
IPTABLES_RULES="\
INPUT:tcp:5050:ACCEPT:services-pgadmin
INPUT:tcp:5060:ACCEPT:services-myadmin
INPUT:tcp:7000:ACCEPT:service-labs
"

REPO_LIST="\
docker|https://github.com/antaresbr/dev-docker.git|master|ubuntu/22.04/ubuntu-jammy.sh build ; php/8.2/php-82.sh build ; python/3.11/python-311.sh build
services|https://github.com/antaresbr/dev-services.git|master
"

SAIL_LIST="\
docker/php/8.2
docker/python/3.11
services
"

ACTION_BUILD_BEFORE="\
"

ACTION_BUILD_AFTER="\
{{WORKSPACE_DIR}}/docker/createBinLink.sh php-82
{{WORKSPACE_DIR}}/docker/createBinLink.sh pyphton-311
{{WORKSPACE_DIR}}/docker/createBinLink.sh ubuntu-jammy
"

ACTION_DOWN_BEFORE="\
"

ACTION_DOWN_AFTER="\
"

ACTION_UP_BEFORE="\
"

ACTION_UP_AFTER="\
"
